body {
    background-image: url('/static/assets/img/presentacion.jpeg');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    color: #333;
   
  }
  .overlay {
    position: fixed; /* Cambiado a fixed para cubrir toda la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
  }
  .content {
    position: relative;
    z-index: 2;
    color: #fff;
  }
  
  .welcome-section {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
  }
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  .welcome-section h1 {
    font-size: 2.5rem;
    color: #333;
    animation: colorChange 3s infinite alternate;
  }
  @keyframes colorChange {
    from { color: #333; }
    to { color: #e67e22; }
  }
  .welcome-section p {
    font-size: 1.2rem;
    color: #555;
  }
  .card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
  }
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .card h2 {
    font-size: 1.8rem;
    color: #222;
    margin-left: 1rem;
  }
  .card p {
    font-size: 1rem;
    color: #555;
  }
  .card i {
    font-size: 2rem;
    color: #e67e22;
  }