.asw-menu-btn {
    background-color: #f8bc02 !important;
}
.asw-menu-header {
    background: #f8bc02 !important;
    color: #fff;
}

.asw-footer {
    background: #f8bc02 !important;
    color: #fff;
}

.asw-adjust-font div[role=button] {
    background: #ffcd06 !important;
    color: #fff;
}
