{% extends 'public/login/base_login.html' %}

{% block title %}Crud con Python 🐍 | Restablecer contraseña{% endblock %}

{% block body %}
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <span class="app-brand-logo">
              <img class="logo" src="{{ url_for('static', filename ='assets/img/logo1.jpeg') }}" alt="Logo" />
            </span>
          </div>

          <!-- Formulario para restablecer contraseña -->
          <form id="formAuthentication" class="mb-3" method="POST">
            <!-- Campo oculto para enviar el token -->
            <input type="hidden" name="token" value="{{ token }}" />

            <div class="mb-3">
              <label for="password" class="form-label">Nueva contraseña</label>
              <input type="password" class="form-control" name="password" required />
            </div>

            <button class="btn btn-primary w-100">
              Restablecer contraseña
              <i class="bi bi-arrow-right-circle"></i>
            </button>
          </form>
          
          <div class="text-center">
            <a href="{{ url_for('inicio') }}" class="d-flex align-items-center justify-content-center">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i> Volver
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
